<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Admin Panel</div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
      <a href="/users" class="list-group-item list-group-item-action bg-dark text-white">Users</a>
      <a href="/categories" class="list-group-item list-group-item-action bg-dark text-white">Categories</a>
      <a href="/company" class="list-group-item list-group-item-action bg-dark text-white">Companies</a>
      <a href="/companyhome" class="list-group-item list-group-item-action bg-dark text-white">Company Home</a>
    </div>
  </div>
  